{%- extends "base.html" %}
{%- block title %}Room Scheduler{%- endblock title %}

{%- block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.2.0/main.min.css" integrity="sha256-LOn2s1oZo044zPt6G3x2mGJnhtfXp6ZE1skHztfqnA8=" crossorigin="anonymous">
{{ super() }}
{%- endblock %}

{%- block content %}
<div class="my-4">
    <p><b>Please be courteous and respectful of your fellow students in following the guidelines below:</b></p>
    <ul>
        <li>Wear a mask at all times, unless you are in a private office with the door closed. (A mask may be removed for short durations to eat or drink, provided you are more than 6 feet away from the nearest person.)</li>
        <li>Maintain 6 feet of physical distance.</li>
        <li>Posted maximum occupancies must be maintained at all times.</li>
        <li>Shared surfaces should be wiped down by the user before and after use.</li>
        <li>Furniture must not be moved.</li>
    </ul>   
    <b>Instructions:</b> Please switch to landscape on mobile. Click and drag on the calendar to create a reservation for yourself. The title of your reservation will be your UNI, visible to all graduate students in your home department. Drag or resize an existing reservation created by you to modify it. To delete a reservation, see the table at the bottom of the page. You cannot undelete a reservation, create a new one instead. If you encounter issues with the calendar, please reach out to <a href="mailto:tg2648@columbia.edu">Timur Gulyamov</a>. For all other questions, please reach out to your department DAAF.
</div>

<div id="calendar"></div>

<h5 class="text-info my-4" id="history">Reservation History:</h3>
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Location</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for e in events %}
        <tr>        
            <th scope="row" {% if not e['active'] %} class='text-muted font-italic' {% endif %}>{{ e['resourceName'] }}</th>
            <td {% if not e['active'] %} class='text-muted font-italic' {% endif %}>{{ e['start'] | datetime_humanize }}</td>
            <td {% if not e['active'] %} class='text-muted font-italic' {% endif %}>{{ e['end'] | datetime_humanize }}</td>
            {% if e['active'] %}
            <td class="text-center">
                <form class="download-form" action="{{ url_for('scheduler.event_delete') }}" method="POST">
                    <input type="hidden" name="PK" value="{{ e['PK'] | serialize }}">
                    <input type="hidden" name="SK" value="{{ e['SK'] | serialize }}">
                    <button type="submit" class="btn btn-danger btn-sm">
                      <i class="fa fa-trash-o fa-lg"></i>
                    </button>
                </form>
            </td>
            {% else %}
            <td class="text-center text-muted font-italic">Deleted</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{%- endblock %}

{%- block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='calendar.js') }}"></script>
    <script src="https://cu-dash-static.s3.us-east-2.amazonaws.com/scripts/idle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.js" integrity="sha256-QTriwEK1XTUJdKp3So7tMDUvZSTLOPpUv8F/J+UwJ8M=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.2.0/main.min.js" integrity="sha256-U+VlpMlWIzzE74RY4mZL4MixQg66XWfjEWW2VUxHgcE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.2.0/main.global.min.js" integrity="sha256-7WNMw3NoYwwtQzbvaebEKKhPHwqVf3kKGfSHTf18qdg=" crossorigin="anonymous"></script>
{%- endblock %}
